
/*button {
    background-color: green;
    font-size: 16px;
    padding : 15px 30px;
    color: white;
    width: 100px
}
.count {
    font-size: 50px;
    padding : 15px 30px;
    
}

.reset {
    background-color: red;
    padding: 15px 50px;
    width: 200px;

}*/